<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="ArchivosAPP" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="ConfigBase" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="ConfigModCalidad" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="Seguridad" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="FormsFree" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="ArchivoLog" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="RemotoServerWebService" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="ConfigModHelpDesk" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="ConfigModSistemas" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<RemotoServerWebService>
		<add key="PathBaseWSCore" value="http://10.10.17.53:1000/Core/" />
	</RemotoServerWebService>
	<appSettings>
		<add key="Ambiente" value="P" />
	</appSettings>
	<ArchivosAPP>
		<add key="PathSnapShot" value="c:\tmp\" />
	</ArchivosAPP>
	<Seguridad>
		<add key="AutenticacionAD" value="false" />
		<add key="IdSistema" value="4" />
		<add key="NonAreaRepon" value="Division de desarrollo" />
	</Seguridad>
  <FormsFree>
    
    <add key="Error.aspx" value="1" />
    
    <add key="HistorialdeInspeccion.aspx" value="1" />
    <add key="ReportExplore.aspx" value="1" />
    <add key="ReportParams.aspx" value="1" />
    <add key="ListarReposanbleAprobacion.aspx" value="1" />
    <add key="AdminstrarUsuariosFirmantes.aspx" value="1" />
    <add key="ReportPrevio.aspx" value="1" />
    <add key="AdministrarReporte.aspx" value="1" />
    <add key="AdministrarPropiedades.aspx" value="1" />
    <add key="DetalleReporte.aspx" value="1" />
    <add key="EnviarPorCorreo.aspx" value="1" />
    <add key="AdministrarDetallePorResponsabledeArea.aspx" value="1" />
    <add key="DetalleRespuestaResponsableArea.aspx" value="1" />
    <add key="ListaReporteIndicadores.aspx" value="1" />
    <add key="DetalleObjetoSeccion.aspx" value="1" />
    <add key="DetalleConfiguraParametro.aspx" value="1" />
    <add key="DetalleObjeto_Reporte.aspx" value="1" />
    <add key="DetalleProyecto.aspx" value="1" />
    <add key="DetalleCarpeta.aspx" value="1" />
    <add key="RptPrevioInPopup.aspx" value="1" />
    <add key="AdministrarTblGeneraltems.aspx" value="1" />
    <add key="ItemsTablasGenerales.aspx" value="1" />
    <add key="ConfigurarFirmasAprobadores.aspx" value="1" />
    <add key="FindAprobadorRI.aspx" value="1" />
    <add key="ReportExploreV2.aspx" value="1" />
    <add key="TestForm.aspx" value="1" />

    <add key="ReporteCompartir.aspx" value="1" />
    <add key="UsuarioCompartido.aspx" value="1" />
    <add key="AdministrarMapeoCampos.aspx" value="1" />

    <add key="Default.aspx" value="1" />
    <add key="EasyNetLiveChatFind.aspx" value="1" />

    <add key="AdministraServicioPorArea.aspx" value="1" />

    <add key="AdministrarServicios.aspx" value="1" />
    <add key="DetalleServicio.aspx" value="1" />
    <add key="AdministrarActividadProcedimiento.aspx" value="1" />
    <add key="AdministrarComponentesdeActividad.aspx" value="1" />

    <add key="Administrar.aspx" value="1" />
    <add key="DetalleSistema_Proceso.aspx" value="1" />
    <add key="AdministrarElementos.aspx" value="1" />
    <add key="DetalleElementos.aspx" value="1" />
    <add key="AdministrarStakeHolder.aspx" value="1" />
    <add key="ListadeAprobadores.aspx" value="1" />
    <add key="AdministrarAprobacion.aspx" value="1" />
    <add key="DetalleStakeHolder.aspx" value="1" />
    <add key="AdministrarDocTimeLine.aspx" value="1" />
    <add key="BaseStakeHolders.aspx" value="1" />
    <add key="AdministrarStakeHolders.aspx" value="1" />
    <add key="BaseControlCambios.aspx" value="1" />
    <add key="AdministrarPoint_In_Out.aspx" value="1" />
    <add key="DetallePoint_In.aspx" value="1" />
    <add key="AdministrarDetalleAccion.aspx" value="1" />
    <add key="DetalledeNota.aspx" value="1" />

    <add key="ProbarControl.aspx" value="1" />
    <!--Mesa de ayuda-->
    <add key="BaseServioAreaDisponibles.aspx" value="1" />
    <add key="ListarServicioXArea.aspx" value="1" />

    <add key="AdministrarRequerimiento.aspx" value="1" />
    <add key="DetalleRequerimiento.aspx" value="1" />
    <add key="ListarServicioXAreaRQR.aspx" value="1" />

    <add key="ListarSprint.aspx" value="1" />
    <add key="SprintAgilCargaPorTrabajador.aspx" value="1" />

    <add key="AdministrarAtencion.aspx" value="1" />

    <add key="AdministrarAtenciondeRequerimiento.aspx" value="1" />
    
    <add key="AdministraGantt.aspx" value="1" />
    
    <add key="AdministrarPlandeTrabajo.aspx" value="1" />
    <add key="ListarTareas.aspx" value="1" />
    <add key="DetalleItemCronograma.aspx" value="1" />    
    <add key="AdministrarTaskTimeLine.aspx" value="1" />
    <add key="DetalleTaskTimeLine.aspx" value="1" />
    <add key="AdmAtencionActXUseReq.aspx" value="1" />
    <add key="BaseHelpDesk.aspx" value="1" />
    <add key="HelpDeskListarAtenciones.aspx" value="1" />
    <add key="DetallePlanTrabajo.aspx" value="1" />
    <add key="BuscarPersonal.aspx" value="1" />
    <add key="AdministrarEstadoAtencionReque.aspx" value="1" />
    <add key="ListarAnalistaAtencion.aspx" value="1" />
    
    <!--helpdesk-->
    <add key="ListarServiciosIncidencias.aspx" value="1" />
    <add key="ListarIncidenciaPorArea.aspx" value="1" />
    <add key="DetalleIncidnecia.aspx" value="1" />
    


    <!--Gobernanza-->
    <add key="DetalleObjetivo.aspx" value="1" />
    <add key="DetalleAcciones.aspx" value="1" />
    <add key="DetalleIndicador.aspx" value="1" />
    <add key="DetalleAreaIndicador.aspx" value="1" />
    <add key="ListadodeMetasPorArea.aspx" value="1" />
    <add key="AdministrarInformeMetaPorArea.aspx" value="1" />
    <add key="AdministrarMetasPorArea.aspx" value="1" />
    <add key="ListarIndicadoresPorArea.aspx" value="1" />

    <add key="AdministrarResponsablePorArea.aspx" value="1" />
    <add key="ListaReponsablePorArea.aspx" value="1" />
    


  </FormsFree>

	<ConfigBase>
		<add key="RutaFileDll" value="C:\AppWebs\AppTest\SIMANET_W22R.dll" />
		<add key="PathFotos" value="http://10.10.90.13/fotopersonal/" />
		<!-- Generacion y visuaizacion de los reporte-->
		<add key="PathFileRpt" value="C:\AppWebs\AppTest\Archivos\HomeRptGen\" />
		<add key="PathFileRptHttp" value="http://localhost:7001/Archivos/HomeRptGen/" />
		<!-- *********************************************-->
		<add key="PathFileRptFooter" value="C:\AppWebs\AppTest\Reportes\Footer.rpt" />
		<add key="PathFileSourceRpts" value="C:\AppWebs\AppTest\Reportes\" />
		<add key="ServerEMail" value="10.10.90.78" />
		<add key="ServerEMailPort" value="25" />
		<add key="UserSend" value="webmaster@sima.com.pe" />
		<!-- Path Server COre-->
		<add key="PathBaseWSCore" value="http://10.10.17.53:1000/Core/" />
		<add key="PathHttpSound" value="/Archivos/Sound/" />
		<!--   socket para el chat -->
		<add key="NetSuteSocket" value="ws://10.10.17.53:4649/Chat?" />
		<add key="NetSuteSocketEnable" value="1" />
		<!--Imagenes de la pagina default-->
		<add key="SliderIMG" value="D:\NETSUITE\SIMANET_W22R\Recursos\img\Splash" />
	</ConfigBase>
	<ConfigModCalidad>
		<add key="CalidadLocalFiles" value="C:\AppWebs\AppTest\Archivos\Calidad\AllFiles\" />
		<add key="CalidadHttpFiles" value="http://localhost:7001/Archivos/Calidad/AllFiles/" />
		<add key="CalidadPathFiles" value="C:\AppWebs\AppTest\Archivos\Calidad\AllFiles\Final\" />
		<add key="CalidadPathFirma" value="C:\AppWebs\AppTest\Archivos\Calidad\Firmas\" />
		<add key="CalidadHttpFirma" value="http://localhost:7001/Archivos/Calidad/Firmas/" />
		<add key="FileSelloAgua" value="C:\AppWebs\AppTest\Archivos\Calidad\AllFiles\Recursos\SelloAguaNoAutoriza.pdf" />
		<!-- Archivo fina bloqueado-->
		<add key="LocalRIFinal" value="C:\AppWebs\AppTest\Archivos\Calidad\AllFiles\RIs\" />
		<add key="HttpRIFinal" value="http://localhost:7001/Archivos/Calidad/AllFiles/RIs/" />
	</ConfigModCalidad>
	<ConfigModHelpDesk>
		<add key="HelpDeskLocalFiles" value="C:\AppWebs\AppTest\Archivos\HelpDesk\AllFiles\" />
		<add key="HelpDeskHttpFiles" value="http://localhost:7001/Archivos/HelpDesk/AllFiles/Final/" />
		<add key="HelpDeskPathFiles" value="C:\AppWebs\AppTest\Archivos\HelpDesk\AllFiles\Final\" />
	</ConfigModHelpDesk>
	<ConfigModSistemas>
		<add key="SysPathFiles" value="C:\AppWebs\AppTest\Archivos\Sistemas\AllFiles\Final\" />
		<add key="SysPathFirma" value="C:\AppWebs\AppTest\Archivos\Sistemas\Firmas\" />
		<add key="SysHttpFirma" value="http://localhost:7001/Archivos/Sistemas/Firmas/" />
	</ConfigModSistemas>
	<system.web>
		<pages buffer="true" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0" />
		<compilation debug="true" targetFramework="4.7.2">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</buildProviders>
			<assemblies>
				<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2" />
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
		</httpHandlers>
	</system.web>
	<connectionStrings>
		<add name="ConexionSQL" connectionString="user id = sa;password = Cie-quich; server=SPSRVBDSIMANET\SIMANET2022; database=SIMANET2005;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="AdministrarReportesSoap" sendTimeout="00:10:00"
     maxReceivedMessageSize="2147483647" />
    <binding name="SeguridadSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
    <binding name="GeneralSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
    <binding name="ClienteSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
    <binding name="TesoreriaSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
    <binding name="ActivoFijoSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
    <binding name="ProyectosSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
    <binding name="ProyectoSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
    <binding name="logisticaSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
    <binding name="SolicitudSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
    <binding name="ContabilidadSoap" />
    <binding name="CostosSoap" />
    <binding name="ControlInspeccionesSoap" />
    <binding name="PersonalSoap" />
    <binding name="ReportesSoap" />
    <binding name="PresupuestoSoap" />
    <binding name="ProduccionSoap" />
    <binding name="MantenimientoSoap" />
    <binding name="AdministrarHDSoap" />
    <binding name="GestiondeConfiguracionSoap" />
   </basicHttpBinding>
   <customBinding>
    <binding name="GestiondeConfiguracionSoap12">
     <textMessageEncoding messageVersion="Soap12" />
     <httpTransport />
    </binding>
  
   </customBinding>
  </bindings>
		<client>
   <endpoint address="http://10.10.18.10:90/Core/GestionReportes/AdministrarReportes.asmx"
    binding="basicHttpBinding" bindingConfiguration="AdministrarReportesSoap"
    contract="srvGestionReportes.AdministrarReportesSoap" name="AdministrarReportesSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionComercial/Cliente.asmx"
    binding="basicHttpBinding" bindingConfiguration="ClienteSoap"
    contract="srvCliente.ClienteSoap" name="ClienteSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionTesoreria/Tesoreria.asmx"
    binding="basicHttpBinding" bindingConfiguration="TesoreriaSoap"
    contract="srvGestionTesoreria.TesoreriaSoap" name="TesoreriaSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionActivoFijo/activofijo.asmx"
    binding="basicHttpBinding" bindingConfiguration="ActivoFijoSoap"
    contract="srvLog_ActivoFijo.ActivoFijoSoap" name="ActivoFijoSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionProduccion/Proyectos.asmx"
    binding="basicHttpBinding" bindingConfiguration="ProyectosSoap"
    contract="srvProyectos.ProyectosSoap" name="ProyectosSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionProyecto/Proyecto.asmx"
    binding="basicHttpBinding" bindingConfiguration="ProyectoSoap"
    contract="srvGestionProyecto.ProyectoSoap" name="ProyectoSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionLogistica/logistica.asmx"
    binding="basicHttpBinding" bindingConfiguration="logisticaSoap"
    contract="srvGestionLogistica.logisticaSoap" name="logisticaSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionComercial/Solicitud.asmx"
    binding="basicHttpBinding" bindingConfiguration="SolicitudSoap"
    contract="srvGestionComercial.SolicitudSoap" name="SolicitudSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionContabilidad/contabilidad.asmx"
    binding="basicHttpBinding" bindingConfiguration="ContabilidadSoap"
    contract="srvGestionContabilidad.ContabilidadSoap" name="ContabilidadSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionCostos/Costos.asmx"
    binding="basicHttpBinding" bindingConfiguration="CostosSoap"
    contract="srvGestionCostos.CostosSoap" name="CostosSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionCalidad/ControlInspecciones.asmx"
    binding="basicHttpBinding" bindingConfiguration="ControlInspeccionesSoap"
    contract="srvGestionCalidad.ControlInspeccionesSoap" name="ControlInspeccionesSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionPersonal/Personal.asmx"
    binding="basicHttpBinding" bindingConfiguration="PersonalSoap"
    contract="srvGestionPersonal.PersonalSoap" name="PersonalSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionFinanciera/Reportes.asmx"
    binding="basicHttpBinding" bindingConfiguration="ReportesSoap"
    contract="srvGestionFinanciera.ReportesSoap" name="ReportesSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionPresupuesto/presupuesto.asmx"
    binding="basicHttpBinding" bindingConfiguration="PresupuestoSoap"
    contract="srvGestionPresupuesto.PresupuestoSoap" name="PresupuestoSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionProduccion/Produccion.asmx"
    binding="basicHttpBinding" bindingConfiguration="ProduccionSoap"
    contract="srvGestionProduccion.ProduccionSoap" name="ProduccionSoap" />
   <endpoint address="http://10.10.18.10:90/Core/GestionProduccion/Mantenimiento.asmx"
    binding="basicHttpBinding" bindingConfiguration="MantenimientoSoap"
    contract="srvGestionProd_Mantenimiento.MantenimientoSoap" name="MantenimientoSoap" />
   <endpoint address="http://10.10.18.10:90/Core/HelpDesk/AdministrarHD.asmx"
    binding="basicHttpBinding" bindingConfiguration="AdministrarHDSoap"
    contract="srvHelpDesk.AdministrarHDSoap" name="AdministrarHDSoap" />
   <endpoint address="http://10.10.18.10:90/Core/HelpDesk/ITIL/GestiondeConfiguracion.asmx"
    binding="basicHttpBinding" bindingConfiguration="GestiondeConfiguracionSoap"
    contract="srvITIL.GestiondeConfiguracionSoap" name="GestiondeConfiguracionSoap" />
   <endpoint address="http://10.10.18.10:90/Core/HelpDesk/ITIL/GestiondeConfiguracion.asmx"
    binding="customBinding" bindingConfiguration="GestiondeConfiguracionSoap12"
    contract="srvITIL.GestiondeConfiguracionSoap" name="GestiondeConfiguracionSoap12" />
   <endpoint address="http://10.10.17.53:1000/Core/General/General.asmx"
    binding="basicHttpBinding" bindingConfiguration="GeneralSoap"
    contract="srvGeneral.GeneralSoap" name="GeneralSoap" />
   <endpoint address="http://10.10.17.53:1000/Core/Seguridad/Seguridad.asmx"
    binding="basicHttpBinding" bindingConfiguration="SeguridadSoap"
    contract="srvSeguridad.SeguridadSoap" name="SeguridadSoap" />  
  </client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.CommLayer" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<!--<dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml.Framework" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.1" newVersion="10.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.1" newVersion="10.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.1" newVersion="10.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.1" newVersion="10.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.1" newVersion="10.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
	
	</system.webServer>
</configuration>